#client
NEXT_PUBLIC_API_URL=http://localhost:5181/api
NEXT_PUBLIC_APP_URL=http://localhost:5181
NEXT_PUBLIC_BRAND_NAME=Shalmi Mart
NEXT_PUBLIC_IS_PROD=false
#server
DATABASE_URL=
API_SECRET_KEY=
BETTER_AUTH_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=   # or use TWILIO_PHONE_NUMBER
TWILIO_PHONE_NUMBER=